
<button class="action-button" (click)="createOrEditProduct()">Criar</button>

<div class="products-header">
  <h2>Listagem de Produtos</h2>
</div>

<div class="products-container">
  <table class="products-table">
    <thead>
      <tr>
        <th>Ações</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td >
          <div><i class="fas fa-edit" (click)="editProduct(product)"></i></div>
          <div><i class="fas fa-trash" (click)="delete(product)"></i></div>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
